.title-top{
  text-align: center;
}
.nav{
  width: 100%;
  text-align: center;
  display: flex;
  padding-left: 2vw;
}
.filter{
  padding-left: 48vw;
}
table{
  text-align: center;
  margin-top: 5vh;
}
th{
  width: 35vw;
  background-color: rgb(88, 88, 200);
  color: white;
}
td{
  width: 35vw;
  padding: 1vh;
  /* border-right: 1px solid gray; */
}